<div style="padding-top: 5%;">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Filter by domain</mat-label>
      <input type="text"
             aria-label="Domain"
             matInput
             (input)="filterOptions()"
             (click)="filterOptions()"
             [(ngModel)]="domainFilter"
             [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let search of filteredSearches" [value]="search.filter" (click)="filterOptions()">{{ search.filter }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter by location</mat-label>
    <input matInput [(ngModel)]="locationFilter" (input)="filterJobOffers()">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter by Job Types</mat-label>
    <mat-select [value]="selectedJobTypes" multiple (selectionChange)="updateSelectedJobTypes($event.value)">
      <mat-option *ngFor="let jobType of jobtypes" [value]="jobType.jobs">
       {{jobType.jobs}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button mat-raised-button (click)="onSubmit()">Valider</button>


</div>

