.container{
  padding: 5% 5% 10px 5% ;
  .inputs{
    display: flex;
    gap: 30px;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 50px;
    mat-form-field{
      width: 100%;
    }
  }
  .scraper-button{
    display: flex;
    flex-direction: column;
    gap: 20px;
    button{
      width: 100%;
      background: darkolivegreen;
      border-radius: 8px;
      padding: 20px;
      font-size: 15px;
      color: white;
      margin-top: 20px;
    }
    p{
      color: #c01f27;
      text-align: center;
      text-decoration: underline;
      font-weight: bolder;
    }
  }
}
