.signup {
  height: 100vh;
  background-color: #f6f6f6;
  .container {
    padding-top: 200px;
  }
  .form {
    margin: 0 auto;
    width: 50vw;
    display: flex;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.07);
    .activeForm {
      background-color: #fff!important;
    }
    .compagny-form {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .switch-compagny-form {
      width: 70%;
      margin: 50% auto;
      h3 {
        color: #fff;
      }
      .switch-button {
        background: #fff;
        color: #4E4D66;
      }
    }
    .user-form {
      width: 50%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      img {
        padding: 30px 0;
        width: 90%;
        left: 0;
      }
    }
    .compagny-form, .user-form {
      background-color: #4E4D66;
      width: 50%;
      padding-bottom: 30px;
      h3 {
        margin-top: 50px;
        text-align: center;
      }
      p {
        text-align: center;
        color: #000;
      }
      input {
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: none;
        margin-top: 15px;
        background-color: #f1f1f1;
      }
      button {
        padding: 13px 0;
        color: #fff;
        width: 100%;
        border: none;
        border-radius: 5px;
        background: #4E4D66;
        margin-top: 30px;
      }
      button:hover{
        background-color: #767599;
      }
      .input-container {
        width: 80%;
        margin: 0 auto;
        .form-name {
          display: flex;
          gap: 13px;
        }
      }
    }
    mat-select {
      padding: 5px 10px;
      width: 100%;
      border-radius: 5px;
      border: none;
      margin-top: 15px;
      background-color: #f1f1f1;
      font-size: 13px;
    }
  }  
}
