<div class="footer-top">
    <h3>Va Bucher</h3>
    <div class="social-media">
        <button><img src="../../../assets/facebook.png" alt=""></button>
        <button><img src="../../../assets/github.png" alt=""></button>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer-content">
        <div class="informations">
            <h4>Nous contacter</h4>
            <a href="tel:+33612345678"><span id="tel">Tél:</span> +33 6 12 34 56 78</a>
        </div>
        <div class="localisations">
            <h4>Où sommes-nous ?</h4>
             <ul>
                <li>Toulouse</li>
             </ul>
        </div>
    </div>

    <p id="copyright">Copyright © 2023 Sweby Studio</p>
</div>
