<form [formGroup]="signupform" (ngSubmit)="onSubmit()" >
    <div >
      <label>FirstName:</label>
      <input type="text" formControlName="firstName" name="firstName">
      <br>
      <label>LastName:</label>
      <input type="text" formControlName="lastName" name="lastName">
      <br>
      <label>Email:</label>
      <input type="email" formControlName="email" name="email">
      <br>
      <label>Password:</label>
      <input type="password" formControlName="password" name="password">
      <br>
      <label>Confirm password:</label>
      <input type="password" formControlName="confirmPassword" name="confirmPassword">
      <br>
      <div *ngIf="!validatePasswords()" class="alert alert-danger">
        Password and confirm password do not match.
      </div>
      <br>
      <label>Filter:</label>
      <select formControlName="search" name="search">
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
      <br>
      <label>Phone:</label>
      <input type="tel" formControlName="phone" name="phone">
      <br>
      <label>Location:</label>
      <input type="text" formControlName="location" name="location">
    </div>
    <button type="submit" [disabled]="submit()">Sign up</button>
  </form>