.box{
  height: calc(100vh - 100px);
  overflow: auto;
  padding: 10px;
  .number-result{
    padding: 0 20px;
  }
  .container{
    padding: 20px;
    display: flex;
    .content{
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      gap: 20px;
      .header{
        display: flex;
        align-items: center;
        gap: 20px;
        .title{
          display:flex;
          flex-direction: column;
          gap: 5px;
          p{
            font-size: 14px;
            color: #999;
          }
          h1{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
          }
        }
        img{
          width: 80px;
          height: 80px;
        }
      }
      .description{
        font-size: 14px;
      }
    }
  }
}

