<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

  <div>
    <div class="input-container">
      <label>Email Address</label>
      <input type="text" formControlName="Email" name="Email"
             required>
      <small *ngIf="signInForm.get('Email')?.value.length <= 0">Email required</small>
      <mat-error *ngIf="signInForm.get('Email')?.hasError('Email') && !signInForm.get('Email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </div>

    <br>

    <div class="input-container">
      <label>Password</label>
      <input type="password" formControlName="Password" name="Password"
              required>
      <small *ngIf="signInForm.get('Password')?.value.length <= 0">Password required</small>
    </div>

    <br>

    <button type="submit" [disabled]="!signInForm.valid">Sign in</button>
  </div>

</form>
