@media screen and (max-width: 1600px) {
    ._form {
        width: 70vw!important;
    }
}

@media screen and (max-width: 1200px) {
    ._form {
        width: 90vw!important;
    }
}

@media screen and (max-width: 950px) {
    .image {
        display: none!important;
    }
    .form {
        width: 95vw!important;
    }
}