<div class="container">
  <div class="filter mat-elevation-z5">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>
  <div class="offers mat-elevation-z5" *ngIf="filteredJobOffers.length > 0">
    <div class="head">
      <h1>Offers</h1>
    </div>
    <table>
      <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Salaire</th>
        <th>Localisation</th>
        <th>Types</th>
        <th>CompanyInfo</th>
        <th>Domain</th>
        <th>Date</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let joboffer of filteredJobOffers.slice().reverse()" class="tr mat-elevation-z3" [@deleteAnimation]="joboffer.state">
          <td>{{ joboffer.title }}</td>
          <td>{{ joboffer.description.slice(0, joboffer.description.slice(0, 500).lastIndexOf(' ')) + ' ...' }}</td>
          <td>{{ joboffer.salaire }}</td>
          <td>{{ joboffer.localisation }}</td>
          <td>{{ joboffer.types }}</td>
          <td>{{ joboffer.companyInfo }}</td>
          <td>{{ joboffer.domain }}</td>
          <td>{{ joboffer.isNew }}</td>
          <td><button class="delete" (click)="deleteOffer(joboffer)"><mat-icon>delete_forever</mat-icon></button></td>
          <td><button class="delete" (click)="updateOffer(joboffer)"><mat-icon>create</mat-icon></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content">
    <div class="users mat-elevation-z5" *ngIf="filteredUser.length > 0">
      <div class="head">
        <h1>users</h1>
      </div>
      <table>
        <thead>
          <th>FirstName</th>
          <th>LastName</th>
          <th>email</th>
          <th>Localisation</th>
          <th>Domain</th>
          <th>Job Type</th>
          <th>Role</th>
          <th>CV</th>
          <th>Phone</th>
        </thead>
        <tr *ngFor="let user of filteredUser" class="tr mat-elevation-z3" [@deleteAnimation]="user.state">
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.location}}</td>
          <td>{{user.domain}}</td>
          <td>{{user.jobtype}}</td>
          <td>{{user.role}}</td>
          <td>{{user.cv}}</td>
          <td>{{user.phone}}</td>
          <td><button *ngIf="canDeleteUser(user)" class="delete" (click)="deleteUser(user)"><mat-icon>delete_forever</mat-icon></button></td>
          <td><button *ngIf="canDeleteUser(user)" class="delete" (click)="updateUser(user)"><mat-icon>create</mat-icon></button></td>
        </tr>
      </table>
    </div>
    <div class="content_search_jobtypes">
      <div class="search mat-elevation-z5" *ngIf="filteredSearches.length > 0">
        <div class="head">
          <h1>Search</h1>
          <button class="add" (click)="addSearch()"><mat-icon>add</mat-icon></button>
        </div>
        <table>
          <thead>
          <th>Filter</th>
          </thead>
          <tr *ngFor="let search of filteredSearches" class="mat-elevation-z3" [@deleteAnimation]="search.state">
            <td>
              {{search.filter}}
            </td>
            <td><button class="delete" (click)="deleteSearch(search)"><mat-icon>delete_forever</mat-icon></button></td>
            <td><button class="delete" (click)="updateSearch(search)"><mat-icon>create</mat-icon></button></td>
          </tr>
        </table>
      </div>
      <div class="jobTypes mat-elevation-z5" *ngIf="filteredJobType.length > 0">
        <div class="head">
          <h1>Job Types</h1>
          <button class="add" (click)="addJobType()"><mat-icon>add</mat-icon></button>
        </div>
        <table>
          <thead>
          <th>Jobs</th>
          </thead>
          <tr *ngFor="let jobtype of filteredJobType" class="mat-elevation-z3" [@deleteAnimation]="jobtype.state" [@addAnimation]="jobtype === newJobType ? 'added' : ''">
            <td>
              {{jobtype.jobs}}
            </td>
            <td><button class="delete" (click)="deleteJobType(jobtype)"><mat-icon>delete_forever</mat-icon></button></td>
            <td><button class="delete" (click)="updateJobType(jobtype)"><mat-icon>create</mat-icon></button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>




















