<div *ngIf="user">
<h2>{{user.firstname}}</h2>
<div>
    firstname:
    <input [(ngModel)]="user.firstname" placeholder="firstname">
</div>
<div>
    lastname:
    <input [(ngModel)]="user.lastname" placeholder="lastname">
</div>
<div>
    Password:
    <input [(ngModel)]="user.password" placeholder="Password">
</div>
<div>
    Location:
    <input [(ngModel)]="user.location" placeholder="Location">
</div>
<div>
    CV:
    <input [(ngModel)]="user.cv" placeholder="cv">
</div>
<div>
    Role:
    <input [(ngModel)]="user.role" placeholder="role">
</div>
<div>
    Search:
    <input [(ngModel)]="user.jobtype" placeholder="Search">
</div>
<button (click)="updateUser(user)" *ngIf="user.id">Save</button>
  <button (click)="deleteUser(user)" *ngIf="user.id">Delete</button>
  <button (click)="createUser(user)" *ngIf="!user.id">Create</button>
</div>
