<div class="dialog-background">
  <div class="selected-job-offer active">
    <span class="close-button" (click)="onClose()">X</span>
    <h2>{{ selectedJoboffer.title }}</h2>
    <p>{{ selectedJoboffer.description }} </p>
    <p>Salaire: {{ selectedJoboffer.salaire }}</p>
    <p>Localisation: {{ selectedJoboffer.localisation }}</p>
    <p>Types: {{ selectedJoboffer.types }}</p>
    <p>CompanyInfo: {{ selectedJoboffer.companyInfo }}</p>
    <p>Domain: {{ selectedJoboffer.domain }}</p>
    <p>Date: {{ selectedJoboffer.isNew }}</p>
    <button *ngIf="access" (click)="saveJobOffer(); saved.emit()">Sauvegarder</button>
  </div>
</div>
