.selected-job-offer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: white;
  padding: 100px 20px 20px 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  overflow: scroll;
  }
