<div class="dialog-background">
  <div class="selected-job-offer active">
    <div class="header">
      <span class="close-button" (click)="onClose()">X</span>
      <h2>{{ selectedJoboffer.title }}</h2>
      <ng-container *ngIf="currentUser">
        <button style="border: none;" matTooltip="Favoris" class="favoris" (click)="jobofferService.saveHistory(selectedJoboffer)"><mat-icon>{{ selectedJoboffer.isSaved ? 'star' : 'star_border' }}</mat-icon></button>
      </ng-container>
    </div>
    <div class="description">
      <p>{{ selectedJoboffer.description }} </p>
    </div>
    <div class="content">
      <p class="mat-elevation-z2">Salaire:
        <span>{{ selectedJoboffer.salaire ? selectedJoboffer.salaire : 'Inconnue' }}</span> </p>
      <p class="mat-elevation-z2">Localisation:<span>{{ selectedJoboffer.localisation ?
        selectedJoboffer.localisation : 'Inconnue'}}</span> </p>
      <p class="mat-elevation-z2">Types:<span>{{ selectedJoboffer.types ?
        selectedJoboffer.types : 'Inconnue' }}</span> </p>
      <p class="mat-elevation-z2">Entreprise:<span>{{ selectedJoboffer.companyInfo ?
        selectedJoboffer.companyInfo : 'Inconnue'}}</span> </p>
      <p class="mat-elevation-z2">Domaine:<span>{{ selectedJoboffer.domain ? selectedJoboffer.domain :
        'Inconnue'}}</span> </p>
      <p class="mat-elevation-z2">Date: <span>{{ selectedJoboffer.isNew ? selectedJoboffer.isNew :
        'Inconnue'}}</span></p>
    </div>
    <div class="compare-button">
      <button *ngIf="access" (click)="saveJobOffer(); saved.emit()">Comparer</button>
      <button><a href="{{selectedJoboffer.url}}" target="_blank">Postuler</a></button>
    </div>
  </div>
</div>
