<app-search></app-search>
<table>
    <thead>
      <th>Title</th>
      <th>Description</th>
      <th>Salaire</th>
      <th>Localisation</th>
      <th>Types</th>
      <th>CompanyInfo</th>
      <th>Domain</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let joboffer of joboffers">
        <td>{{ joboffer.title }}</td>
        <td>{{ joboffer.description }}</td>
        <td>{{ joboffer.salaire }}</td>
        <td>{{ joboffer.localisation }}</td>
        <td>{{ joboffer.types }}</td>
        <td>{{ joboffer.companyInfo }}</td>
        <td>{{ joboffer.domain }}</td>
      </tr>
    </tbody>
  </table>
