<app-search (filtersChanged)="updateFilters($event)"></app-search>
<div class="recent-offers" id="section_3">
  <img class="image" src="../assets/blobGauche.png">
  <div class="offer-title">
    <h5 [ngClass]="{'padding-bottom': currentUser}">Quelques offres récentes</h5>
  </div>
  <div class="offers">
    <ng-container *ngFor="let joboffer of joboffersToDisplay | filter:domainFilter:locationFilter:jobtypefilter">
      <ng-container *ngIf="joboffer && joboffersToDisplay.indexOf(joboffer) % 2 !== 0">
        <div class="box" id="box-{{joboffersToDisplay.indexOf(joboffer) % 3 === 0 ? 1 : 2}}">
          <h6>{{ joboffer.title | firstUppercase}}</h6>
          <button>Rémunération: {{ joboffer.salaire }}</button>
          <button>Type de poste: {{ joboffer.types }}</button>
          <button>Domaine: {{ joboffer.domain }}</button>
          <p>{{ joboffer.description.slice(0, joboffer.description.slice(0, 250).lastIndexOf(' ')) + ' ...' }}</p>
        </div>
      </ng-container>
    </ng-container>
  </div>
    <div class="offers">
    <ng-container *ngFor="let joboffer of joboffersToDisplay | filter:domainFilter:locationFilter:jobtypefilter">
      <ng-container *ngIf="joboffersToDisplay.indexOf(joboffer) % 2 === 0">
        <div class="box" id="box-{{joboffersToDisplay.indexOf(joboffer) % 4 === 0 ? 4 : 3}}">
          <h6>{{ joboffer.title | firstUppercase}}</h6>
          <button>Rémunération: {{ joboffer.salaire }}</button>
          <button>Type de poste: {{ joboffer.types }}</button>
          <button>Domaine: {{ joboffer.domain }}</button>
          <p>{{ joboffer.description.slice(0, joboffer.description.slice(0, 350).lastIndexOf(' ')) + ' ...' }}</p>
        </div>
      </ng-container>
    </ng-container>
  </div>


  <div class="pagination">
    <button class="left-button" (click)="changePage(page - 1)">&lt;</button>
    <span class="page-number">{{ page }}</span>
    <button class="right-button" (click)="changePage(page + 1)">&gt;</button>
  </div>

</div>
<!--<div *ngFor="let data of data">-->
<!--  {{ data.intitule }}-->
<!--</div>-->
