.signin {
  margin: 150px auto;
  width: 30vw;
  height: 150px;
  background-color: red;
}

@mixin button($bcolor,
  $url,
  $x1,
  $y1,
  $bor,
  $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

* {
  overflow: hidden;
}

*[selectedJobOffer] {
  width: 50% !important;
  float: left;
}

.container {
  .first-section {
    height: 100vh;
    background: linear-gradient(125deg, rgba(2, 0, 36, 1) 30%, #ED6A5A);
    opacity: 0.7;

    .image {
      z-index: -1;
      position: absolute;
      top: 12vh;
      right: 0;
      height: 80vh;
    }

    .start {
      width: 70vw;
      margin: 0 auto;
      padding-top: 40vh;
      justify-content: center;

      h2 {
        color: #fff;
      }

      h3 {
        color: #fff;
        font-weight: 400;
      }

      .button-start {
        position: relative;
        width: 150px;
        height: 50px;
        margin-top: 3vh;
        overflow: hidden;
        border: 1px solid #ED6A5A;
        font-weight: 300;
        transition: 0.5s;
        letter-spacing: 1px;
        border-radius: 10px;

        button {
          width: 101%;
          height: 100%;
          font-weight: 300;
          letter-spacing: 1px;
          font-weight: bold;
          font-size: 20px;
          color: #fff;
          border-radius: 10px;

          @include button(#ED6A5A, "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
            3000%,
            100%,
            none,
            #fff);
          cursor: pointer;
          -webkit-animation: ani2 0.7s steps(29) forwards;
          animation: ani2 0.7s steps(29) forwards;

          &:hover {
            -webkit-animation: ani 0.7s steps(29) forwards;
            animation: ani 0.7s steps(29) forwards;
          }
        }
      }


      .mas {
        position: absolute;
        color: #ED6A5A;
        text-align: center;
        width: 101%;
        font-weight: 300;
        position: absolute;
        font-size: 20px;
        margin-top: 11px;
        overflow: hidden;
        font-weight: bold;

      }

      @-webkit-keyframes ani {
        from {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }

        to {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }
      }

      @keyframes ani {
        from {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }

        to {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }
      }

      @-webkit-keyframes ani2 {
        from {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }

        to {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }
      }

      @keyframes ani2 {
        from {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }

        to {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }
      }
    }

    .social-media-container {
      position: absolute;
      bottom: 10px;
      right: 10px;

      button {
        background: transparent;
        border: none;
        margin: 0 20px 20px 0;

        img {
          width: 55px;
          filter: invert(100%);
        }
      }
    }
  }

  .about {
    display: flex;
    padding: 20px 120px;
    height: auto;
    background: linear-gradient(125deg, rgba(2, 0, 36, 0.7) 30%, #ED6A5A);


    .text {

      h5,
      p {
        color: white;
      }

      h5 {
        margin-bottom: 20px;
      }

      display: block;
      padding: 50px 0;
      width: 70%;
    }

    .image {
      display: flex;
      width: 30%;

      img {
        width: 80%;
        padding-right: 0px;
        border-radius: 10%;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;

    span {
      font-size: 24px;
      margin: 0 10px;
      cursor: pointer;

      &.active {
        color: #ED6A5A;
      }
    }
  }


  .recent-offers {
    background: var(--section-bg-color);
    min-height: 85vh;

    .image {
      position: absolute;
      left: 0;
      height: 60%;
    }

    .offer-title {
      h5 {
        text-transform: uppercase;
        text-align: center;
        padding: 30px 0;
      }

      h5.padding-bottom {
        padding-bottom: 10px;
      }

      p {
        text-align: center;
        padding: 0 0 30px;
      }
    }
    .offers-container {
      position: relative;
      min-height: 62vh;
    .pagination-button-left,
    .pagination-button-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 35px;
      padding: 10px 20px;
      cursor: pointer;
      color: #333;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      cursor: pointer;


      &:hover {
        color: #000;
      }
    }
    .pagination-button-left {
      left: 10%;
    }
    .pagination-button-right {
      left: 90%;
    }
  }

    .offers {
      margin: 0 auto;
      width: 70vw;
      display: flex;

      .box {
        margin: 10px;
        border-radius: 12px;

        h6,
        p {
          color: #fff;
          padding: 25px 15px 10px 20px;
        }

        p {
          padding: 0 15px 15px 15px;
        }

        button {
          border: 1px solid white;
          color: white;
          background: var(--primary-color);
          border-radius: 10px;
          padding: 5px 10px;
          margin: 5px 0 10px 15px;
        }

        background: var(--primary-color);
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
    }

    #box-2,
    #box-3 {
      flex: 0 0 40%;
    }
  }
}
.compare-button{
  background: #ED6A5A;
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}
