<div class="container">
  <section class="first-section" id="section_1">
    <div class="start">
      <h2>Va Bucher</h2>
      <h3>Découvres de nouvelles opportunités</h3>
      <div class="button-start">
        <span class="mas">Start</span>
        <button type="button" name="Hover" routerLink="/dashboard">Start</button>
      </div>
    </div>
    <img class="image" src="../assets/home.png">
    <div class="social-media-container">
      <button><img src="../assets/facebook.png" alt=""></button>
      <button><img src="../assets/github.png" alt=""></button>
    </div>
  </section>
  <div class="about" id="section_2">
    <div class="text">
      <h5>A PROPOS DE VABUCHER</h5>
      <p>Va Bûcher est une plateforme de recherche d'alternance ou de stage exclusivement pour les étudiants, le but
        étant de faciliter la recherche aux étudiants qui ont du mal à trouver une entreprise qui leur permettra de
        continuer leurs études.</p>
    </div>
    <div class="image">
      <img style="opacity: 0.7;" src="../assets/an_worker_in_orange_background_with_floating_object_digital_art.png">
    </div>
  </div>
  <div class="recent-offers" id="section_3">
    <img class="image" src="../assets/blobGauche.png">
    <div class="offer-title">
      <h5 [ngClass]="{'padding-bottom': currentUser}">Quelques offres récentes</h5>
      <p *ngIf="criteria">Les offres sont affichés en fonction des critères dans votre profil: </p>
    </div>
    <div class="offers-container">
      <button *ngIf="currentPage > 1" (click)="setPage(currentPage -1)" class="pagination-button-left">&lt;</button>
    <div class="offers">
      <div *ngFor="let i of [(currentPage * 4 - 3)-1, (currentPage * 4 - 2)-1]" class="box" id="box-{{i%2+1}}" (click)="showDetails(joboffers.slice(i, i+1)[0])">
        <ng-container *ngIf="currentUser">
          <button style="border: none;" matTooltip="Favoris" class="favoris" (click)="jobofferService.saveHistory(joboffers[i])"><mat-icon>{{ joboffers[i].isSaved ? 'star' : 'star_border' }}</mat-icon></button>
        </ng-container>
        <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.title as title">
          <h6>{{ title | firstUppercase }}</h6>
        </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.salaire as salary">
            <button>Rémunération: {{ salary }}</button>
          </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.types as types">
            <button>Type de poste: {{ types }}</button>
          </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.domain as domain">
            <button>Domaine: {{ domain }}</button>
          </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.description as description">
            <p>{{ description.slice(0, description.slice(0, 350).lastIndexOf(' ')) + ' ...' }}</p>
          </ng-container>
      </div>

    </div>
    <div class="offers">
      <div *ngFor="let i of [(currentPage * 4 - 1)-1, (currentPage * 4)-1]" class="box" id="box-{{i%2+3}}" (click)="showDetails(joboffers.slice(i, i+1)[0])">
        <ng-container *ngIf="currentUser">
          <button style="border: none;" matTooltip="Favoris" class="favoris" (click)="jobofferService.saveHistory(joboffers[i])"><mat-icon>{{ joboffers[i].isSaved ? 'star' : 'star_border' }}</mat-icon></button>
        </ng-container>
        <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.title as title">
          <h6>{{ title | firstUppercase }}</h6>
        </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.salaire as salary">
            <button>Rémunération: {{ salary }}</button>
          </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.types as types">
            <button>Type de poste: {{ types }}</button>
          </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.domain as domain">
            <button>Domaine: {{ domain }}</button>
          </ng-container>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.description as description">
            <p>{{ description.slice(0, description.slice(0, 350).lastIndexOf(' ')) + ' ...' }}</p>
          </ng-container>
      </div>

    </div>
      <button *ngIf="currentPage < pages.length" (click)="setPage(currentPage + 1)" class="pagination-button-right">&gt;</button>
    </div>
    <div class="pagination">
      <span *ngFor="let page of pages" [ngClass]="{'active': page === currentPage}" (click)="setPage(page)">&#9679;</span>
    </div>

  </div>

</div>
<app-joboffer-detail *ngIf="selectedJobOffer" [selectedJoboffer]="selectedJobOffer" (close)="closeJobOfferDetails()"></app-joboffer-detail>
<ng-container *ngIf="currentUser" >
  <button class="compare-button" mat-fab extended   *ngIf="jobofferService.getSavedJobOffers().length > 0 " (click)="openSavedJobOffers()">{{jobofferService.getSavedJobOffers().length}} offres à comparer </button>
</ng-container>


