.container{
  .first-section{
    height: 100vh;
    background: linear-gradient(125deg, rgba(2,0,36,1) 50%, rgba(255,0,0,1));
    opacity: 0.7;
    .image{
      z-index: -1;
      position: absolute;
      top: 12vh;
      right: 0;
      height: 80vh;
    }
    .start {
      width: 70vw;
      margin: 0 auto;
      padding-top: 40vh;
      justify-content: center;
      h2 {
        color: #fff;
      }
      h3 {
        color: #fff;
        font-weight: 400;
      }
      button {
        font-size: 20px;
        margin-top: 20px;
        padding: 17px 70px;
        color: #fff;
        background: #ED6A5A;
        border-radius: 10px;
      }
    }
    .social-media-container{
      position: absolute;
      bottom: 10px;
      right: 10px;
      button{
        background: transparent;
        border: none;
        margin: 0 20px 20px 0;
        img{
          width: 55px;
          filter: invert(100%);
        }
      }
    }
  }
  .about{
    display: flex;
    padding: 20px 120px;
    height: auto;
    background: var(--secondary-color);
    .text{
      h5,p{
        color: white;
      }
      h5{
        margin-bottom: 20px;
      }
      display: block;
      padding: 50px 0;
      width: 70%;
    }
    .image{
      display: flex;
      width: 30%;
      img {
        width: 80%;
        padding-right: 0px;
        border-radius: 10%;
      }
    }
  }
  .recent-offers {
    background: var(--section-bg-color);
    .image {
      position: absolute;
      left: 0;
      height: 60%;
    }
    h5 {
      text-transform: uppercase;
      text-align: center;
      padding: 30px 0;
    }
    .offers {
      margin: 0 auto;
      width: 70vw;
      display: flex;
      .box {
        margin: 10px;
        border-radius: 12px;
        h6, p {
          color: #fff;
          padding: 25px 15px 10px 20px;
        }
        p{
          padding: 0 15px 15px 15px;
        }
        background: var(--primary-color);
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
    }
    #box-2, #box-3 {
      flex: 0 0 40%;
    }
  }
}
