<div class="container">
  <section class="first-section" id="section_1">
    <div class="start">
      <h2>Va Bucher</h2>
      <h3>Découvres de nouvelles opportunités</h3>
      <!-- <button href="">Start</button> -->
      <div class="button-start">
        <span class="mas">Start</span>
        <button type="button" name="Hover">Start</button>
      </div>
    </div>
    <img class="image" src="../assets/home.png">
    <div class="social-media-container">
      <button><img src="../../../assets/facebook.png" alt=""></button>
      <button><img src="../../../assets/github.png" alt=""></button>
    </div>
  </section>
  <div class="about" id="section_2">
    <div class="text">
      <h5>A PROPOS DE VABUCHER</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.</p>
    </div>
    <div class="image">
      <img src="../assets/an_worker_in_orange_background_with_floating_object_digital_art.png">
    </div>
  </div>
  <div class="recent-offers" id="section_3">
    <img class="image" src="../assets/blobGauche.png">
    <div class="offer-title">
    <h5 [ngClass]="{'padding-bottom': currentUser}">Quelques offres récentes</h5>
    <p *ngIf="currentUser">Les offres sont affichés en fonction de vos critères : </p>
    </div>
    <div class="offers">
      <div *ngFor="let i of [0,1]" class="box" id="box-{{i + 1}}">
        <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.title as title">
          <h6>{{ title }}</h6>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.description as description">
            <p>{{ description.slice(0, description.slice(0, 350).lastIndexOf(' ')) + ' ...' }}</p>
          </ng-container>
        </ng-container>
      </div>

    </div>
    <div class="offers">
      <div *ngFor="let i of [2,3]" class="box" id="box-{{i + 1}}">
        <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.title as title">
          <h6>{{ title }}</h6>
          <ng-container *ngIf="joboffers.slice(i, i+1)[0]?.description as description">
            <p>{{ description.slice(0, description.slice(0, 350).lastIndexOf(' ')) + ' ...' }}</p>
          </ng-container>
        </ng-container>
      </div>

    </div>
  </div>
</div>

