<div class="container">
  <section class="first-section" id="section_1">
    <div class="social-media-container">
      <button><img src="../../../assets/facebook.png" alt=""></button>
      <button><img src="../../../assets/github.png" alt=""></button>
    </div>
  </section>
  <div class="about" id="section_2">
      <div class="text">
        <h5>A PROPOS DE VABUCHER</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="image">
        <img src="../assets/objectif.png">
      </div>
  </div>
  <div class="recent-offers" id="section_3">
    <h5>Quelques offres récentes</h5>
    <div class="offers">
      <div class="box" id="box-1">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus tincidunt massa in facilisis. Mauris pretium justo a enim hendrerit, ut ornare lacus ultrices. Etiam vitae odio nec nisi fermentum lobortis. Phasellus placerat enim in nunc viverra porttitor. Nullam finibus auctor euismod. Pellentesque erat sem, commodo at odio varius, pharetra dictum nulla. In ac placerat libero. Duis consequat sem at tortor hendrerit aliquet nec id turpis.</p>
      </div>
      <div class="box" id="box-2">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus tincidunt massa in facilisis. Mauris pretium justo a enim hendrerit, ut ornare lacus ultrices. Etiam vitae odio nec nisi fermentum lobortis. Phasellus placerat enim in nunc viverra porttitor. Nullam finibus auctor euismod. Pellentesque erat sem, commodo at odio varius, pharetra dictum nulla. In ac placerat libero.</p>
      </div>
    </div>
    <div class="offers">
      <div class="box" id="box-3">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus tincidunt massa in facilisis. Mauris pretium justo a enim hendrerit, ut ornare lacus ultrices. Etiam vitae odio nec nisi fermentum lobortis. Phasellus placerat enim in nunc viverra porttitor. Nullam finibus auctor euismod. Pellentesque erat sem, commodo at odio varius, pharetra dictum nulla. In ac placerat libero. Duis consequat sem at tortor hendrerit aliquet nec id turpis.</p>
      </div>
      <div class="box" id="box-4">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus tincidunt massa in facilisis. Mauris pretium justo a enim hendrerit, ut ornare lacus ultrices. Etiam vitae odio nec nisi fermentum lobortis. Phasellus placerat enim in nunc viverra porttitor. Nullam finibus auctor euismod. Pellentesque erat sem, commodo at odio varius, pharetra dictum nulla. In ac placerat libero. Duis consequat sem at tortor hendrerit aliquet nec id turpis.</p>
      </div>
    </div>
  </div>
</div>
