.nav__links {
    margin-top: 40px;
    font-family: "La Belle Aurore", sans-serif;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}
.nav__link {
    cursor: none;
    margin: 0 10px;
    color: white;
    padding: 9px 15px;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}
.nav__link.active,
.nav__link:hover {
    background-color: #504f4f;
}